{% comment %}
  Renders a header search modal. Should be used with 'header.liquid'

  Accepts:
  - input_id: {String} Id for the search input element (required)

  Usage:
  {% render 'header-search', input_id: 'My-Id'%}
{% endcomment %}

<details-modal class="header__search">
  <details>
    <summary class="header__icon header__icon--search header__icon--summary link focus-inset modal__toggle" aria-haspopup="dialog" aria-label="{{ 'general.search.search' | t }}">
      <span>
        <svg class="modal__toggle-open icon icon-search" width="36" height="36" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M24.35 26.45L15.95 18.05C15.2 18.65 14.3375 19.125 13.3625 19.475C12.3875 19.825 11.35 20 10.25 20C7.525 20 5.219 19.0565 3.332 17.1695C1.444 15.2815 0.5 12.975 0.5 10.25C0.5 7.525 1.444 5.2185 3.332 3.3305C5.219 1.4435 7.525 0.5 10.25 0.5C12.975 0.5 15.2815 1.4435 17.1695 3.3305C19.0565 5.2185 20 7.525 20 10.25C20 11.35 19.825 12.3875 19.475 13.3625C19.125 14.3375 18.65 15.2 18.05 15.95L26.4875 24.3875C26.7625 24.6625 26.9 25 26.9 25.4C26.9 25.8 26.75 26.15 26.45 26.45C26.175 26.725 25.825 26.8625 25.4 26.8625C24.975 26.8625 24.625 26.725 24.35 26.45ZM10.25 17C12.125 17 13.719 16.344 15.032 15.032C16.344 13.719 17 12.125 17 10.25C17 8.375 16.344 6.781 15.032 5.468C13.719 4.156 12.125 3.5 10.25 3.5C8.375 3.5 6.781 4.156 5.468 5.468C4.156 6.781 3.5 8.375 3.5 10.25C3.5 12.125 4.156 13.719 5.468 15.032C6.781 16.344 8.375 17 10.25 17Z" fill="#203D5F"/>
        </svg>
        <svg class="modal__toggle-close icon icon-close" aria-hidden="true" focusable="false">
          <use href="#icon-close">
        </svg>
      </span>
    </summary>
    <div class="search-modal modal__content gradient" role="dialog" aria-modal="true" aria-label="{{ 'general.search.search' | t }}">
      <div class="modal-overlay"></div>
      <div class="search-modal__content{% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_vertical_offset < 0 %} search-modal__content-top{% else %} search-modal__content-bottom{% endif %}" tabindex="-1">
        {%- if settings.predictive_search_enabled -%}
          <predictive-search class="search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}">
        {%- else -%}
          <search-form class="search-modal__form">
        {%- endif -%}
            <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
              <div class="field">
                <input class="search__input field__input"
                  id="{{ input_id }}"
                  type="search"
                  name="q"
                  value="{{ search.terms | escape }}"
                  placeholder="{{ 'general.search.search' | t }}"
                  {%- if settings.predictive_search_enabled -%}
                    role="combobox"
                    aria-expanded="false"
                    aria-owns="predictive-search-results"
                    aria-controls="predictive-search-results"
                    aria-haspopup="listbox"
                    aria-autocomplete="list"
                    autocorrect="off"
                    autocomplete="off"
                    autocapitalize="off"
                    spellcheck="false"
                  {%- endif -%}
                >
                <label class="field__label" for="{{ input_id }}">{{ 'general.search.search' | t }}</label>
                <input type="hidden" name="options[prefix]" value="last">
                <button type="reset" class="reset__button field__button{% if search.terms == blank %} hidden{% endif %}" aria-label="{{ 'general.search.reset' | t }}">
                  <svg class="icon icon-close" aria-hidden="true" focusable="false">
                    <use xlink:href="#icon-reset">
                  </svg>
                </button>
                <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
                  <svg class="icon icon-search" width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M24.35 26.45L15.95 18.05C15.2 18.65 14.3375 19.125 13.3625 19.475C12.3875 19.825 11.35 20 10.25 20C7.525 20 5.219 19.0565 3.332 17.1695C1.444 15.2815 0.5 12.975 0.5 10.25C0.5 7.525 1.444 5.2185 3.332 3.3305C5.219 1.4435 7.525 0.5 10.25 0.5C12.975 0.5 15.2815 1.4435 17.1695 3.3305C19.0565 5.2185 20 7.525 20 10.25C20 11.35 19.825 12.3875 19.475 13.3625C19.125 14.3375 18.65 15.2 18.05 15.95L26.4875 24.3875C26.7625 24.6625 26.9 25 26.9 25.4C26.9 25.8 26.75 26.15 26.45 26.45C26.175 26.725 25.825 26.8625 25.4 26.8625C24.975 26.8625 24.625 26.725 24.35 26.45ZM10.25 17C12.125 17 13.719 16.344 15.032 15.032C16.344 13.719 17 12.125 17 10.25C17 8.375 16.344 6.781 15.032 5.468C13.719 4.156 12.125 3.5 10.25 3.5C8.375 3.5 6.781 4.156 5.468 5.468C4.156 6.781 3.5 8.375 3.5 10.25C3.5 12.125 4.156 13.719 5.468 15.032C6.781 16.344 8.375 17 10.25 17Z" fill="#203D5F"/>
                  </svg>
                </button>
              </div>

              {%- if settings.predictive_search_enabled -%}
                <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
                  <div class="predictive-search__loading-state">
                    <svg aria-hidden="true" focusable="false" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                      <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                    </svg>
                  </div>
                </div>

                <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
              {%- endif -%}
            </form>
          {%- if settings.predictive_search_enabled -%}
            </predictive-search>
          {%- else -%}
            </search-form>
          {%- endif -%}
        <button type="button" class="search-modal__close-button modal__close-button link link--text focus-inset" aria-label="{{ 'accessibility.close' | t }}">
          <svg class="icon icon-close" aria-hidden="true" focusable="false">
            <use href="#icon-close">
          </svg>
        </button>
      </div>
    </div>
  </details>
</details-modal>
